#Straat{
    color: aqua (1, 1,);
}
#Cijfer{
    color: blueviolet;
}
#gun1{
    caret-color: aquamarine;
}
nav{
    color: greenyellow;
    margin: 4px;px ;
    padding: 4px;
   
}
div{
    text-align: center;
}